@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --light: #eaecee;
    --color-text: #3c3e41;
    --box-shadow: 
    5px 5px 15px #c1c8d3, 
    -5px -5px 15px #ffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container{
    width: 1200px;
    max-width: 90%;
    margin: auto;
}
.gradientText{
  display: inline-block;
    background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.job{
   display: inline-block;
}
.job::before{
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate,
    changeText 4s linear infinite;
}
@keyframes effectText{
    from{
        max-width: 0;
    }to{
        max-width: 500px;
    }
}
@keyframes changeText{
    from{
        content: attr(data-job1);
    }
    to{
        content: attr(data-job2);
    }
}

.listSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding-bottom: 50px;
    margin: 6%;
}
.listSkill .evaluate{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, .2);
}
.listSkill .evaluate::before{
    position: absolute;
    height: 100%;
    width: var(--point);
    background-image: var(--gradient-bg);
    content: '';
    border-radius: 10px;
}
.listProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 50px;
    margin: 5%;
}
.listProject .name1 {
    color: #ffa3f4;

}
.listProject .item{
    text-align: center;
    padding: 20px;
    border: 1px solid #ffa3f4;
    background: transparent;
}
.listProject .item img{
    width: 90%;
    border-radius: 20px;
}
.listProject .item{
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
}
.contact{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.contact li{
    width: 50px;
    height: 50px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}
.contact li:hover{
    background-image: var(--gradient-bg);
    color: #fff;
}
/* Desktops and laptops ----------- */
@media  screen and (min-width:1224px) {
	/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width:1024px) {
	/* Styles */
    header  ul{
    }
    .banner{
        grid-template-columns: 40% 60%;
    }
    .banner .content h1{
        font-size: 2em;
    }
   
}
/* mobile */

@media screen and (max-width: 767px){
    .banner{
        grid-template-columns: 1fr;
    }
    .banner .content h1{
        font-size: 1.2em;
    }
    .banner .avatar{
        grid-row-start: 1;
    }
    header .navDiv{
        display: flex;
        justify-content: end;
    }
    header label{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        box-shadow: var(--box-shadow);
        border-radius: 50%;
    }
    header .nav{
        position: fixed;
        background-color: #F0F3F5;
        z-index: 1;
        width: 70%;
        height: 100vh;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 70px);
        transform: translateX(-100%);
        transition: 0.5s;
    }
    input#menu:checked ~ .nav{
        transform: translateX(0%);
    }
    header .nav label{
        width: 50px;
        height: 50px;
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: red;
    }
    .banner .content{
        padding-right: 0px;
    }
    .listSkill{
        grid-template-columns: 1fr;
    }
    .listProject{
        grid-template-columns: 1fr;
    }
    
}