.carousel-item {
  margin: 0 2rem;
  position: relative;
}

.feature-ss {
  z-index: 20;
  position: absolute;
  background-size: contain;
  background-position: center;
  height: 92%;
  width: 93%;
  top: 52%;
  left: 49.75%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .carousel-item {
    margin: 0 4rem;
  }
}